/* poppins-regular - latin */
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/opensans.ttf');
}
a {
    text-decoration: none;
}
body {
    background-color: #C6C6C6;
}
h1 {
    color: #0082C9;
}
.main-box {
    border-radius: 15px;
    transition: 0.3s;
    @media (min-width: 700px) {
        min-width: 600px;
    }
    @media (max-width: 699px)
    {
        min-width: 90%;
    }
    box-shadow: 0px 0px 46px -25px rgba(0,0,0,0.75);
}
.btn-custom {
    border-radius: 5px;
    color: #FFFFFF;
    width: 46px;
    height: 38px;
}
.btn-custom:hover {
    border-radius: 5px;
    color: #C6C6C6;
}
.link {
    color: inherit;
}
.link:hover {
    color: #0082C9;
}
.custom-font {
    font-family: "Open Sans";
}
.navbar-link {
    color: #FFFFFF;
}
.navbar-badge {
    @media (min-width: 700px) {
        margin-left: 300px;
    }
    @media (max-width: 699px) {
        display: none;
    }
}
.navbar {
    height: 40px;
    background-color: #0082C9;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
a:hover {
    color: lightgrey;
}
.header-alert {
    position: relative;
    padding: 1rem 1rem;
}